a {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4F55C4;
    padding: 10px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

img {
    height: 100px;
}