.prearrival-box {
  margin: 10px auto;
  padding: 40px;
  margin-bottom: 60px;
  width: 400px;
  background: rgba(240, 235, 235, 0.834);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.prearr-head {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 30px;
}

.prearrival-box .user-box {
  position: relative;
}

.prearrival-box .user-box input {
  width: 100%;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: bold;
  color: #242020;
  margin-bottom: 30px;
  border-radius: 15px;
  border-bottom: 1px solid #fff;
  outline: none;
  margin-top: 15px;
}
.prearrival-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.prearrival-box .user-box input:focus ~ label,
.prearrival-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1a53bd;
  font-size: 15px;
  font-weight: bold;
}

.prearrival-button {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border-radius: 32px;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 4px;
}
